{% extends "layout.html" %}
{% block content %}
    <p>Какой-то безполезный текст</p>
    <a href="/about" class="btn btn-primary">Информация</a>
    <a href="/users" class="btn btn-success">Пользователи</a>
{% endblock %}
