{% extends "layout.html" %}

{% block content %}
    <table class="table">
    <thead>
    <tr><th>Имя</th><th>Возраст</th><th>Пол</th></tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.get_gender }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
 <a href="/" class="btn btn-primary">Назад</a>
{% endblock %}